<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.votaciones">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".Activity.GanadorActivity"
            android:parentActivityName=".Activity.InicioActivity" />
        <activity android:name=".Activity.CrearUsuarioActivity" />
        <activity android:name=".Activity.GraficaActivity" />
        <activity
            android:name=".Activity.CargaActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activity.PropuestasActivity" />
        <activity android:name=".Activity.IntegrantesActivity" />
        <activity android:name=".Activity.VotarActivity" />
        <activity android:name=".Activity.InicioActivity" />
        <activity android:name=".Activity.UsuarioActivity" />
        <activity android:name=".Activity.MainActivity" />
    </application>

</manifest>